
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body, h1, h2, h3, h4, h5, p, blockquote, pre, hr, dl, dd, ol, ul, figure{
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
}

#left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(45deg, hsl(243, 86%, 85%), hsl(243, 87%, 12%));
}

img {
  max-width: 100%;
  height: auto;
}
#right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 80%;
}

header > ul {
  display: flex;
  list-style: none;
  width: 150px;
  justify-content: space-between;
}

main {
  margin: 50px auto;
  width: 85%;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', arial, sans-serif;
  font-weight: 700;
  margin: 25px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400, 700;
  margin: 25px;
}


button {
  background-color: hsl(163, 95%, 43%);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  font-size: 16pt;
}

legend {
  font-family: 'open sans';
  font-weight: 700;
}

label {
  font-family: 'open sans';
}

fieldset {
  display: flex;
  border: none;
  margin: 0 auto;
  width: 75%;
  flex-direction: row;
}

form {
  margin: 3em 0;
}

form input {
  width: 250px;
  height: 25px;
  background: #fff;
  font: inherit;
  border: none;
  outline: 0;
  padding: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)
}

.hidden {
  position: absolute;
  left:-10000px
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

footer {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
